// 共通

.c-borderBox{
    padding: 3%;
    @include min(768){
        width: 95%;
        padding: 1% 1% 2%;
        margin-right: 0;
        margin-left: auto;
    }
    span{
        padding: 0 5px;
    }
    &.-double{
        border: 4px double $site-color01;
        @include min(768){
            border: 7px double $site-color01;
        }
    }
    &.-solid{
        border: 1px solid $site-color01;
        @include min(768){
            border: 1px solid $site-color01;
        }
    }
}


.setubi-title{
    position: relative;
    .m-logo{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.-cleanup{
            left: 43%;
            transform: translate(-50%, -50%);
            width: 35%;
            @include min(768){
                left: 60%;
                width: 50%;
            }
        }
        &.-toto{
            left: 52%;
            transform: translate(-50%, -50%);
            width: 45%;
            @include min(768){
                top: 40%;
                left: 65%;
                width: 50%;
            }
        }
        &.-ykkap{
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            width: 30%;
            @include min(768){
                top: 34%;
                left: 22%;
                width: 14%;
            }
        }
    }
}

.colorBox{
    background: $site-color02;
    padding: 3% 0;
    border-radius: 5px;
}